/*Sessão sobre mim*/
#about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

/*Título da sessão*/
#about h2 {
    text-align: center;
    color: white;
    letter-spacing: 4px;
}

/*Conteúdo dentro da sessão "sobre"*/
.content-sobre {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

/*Container da minha foto e midias*/
.img-sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/*Minha foto*/
.img-sobre img {
    display: block;
    width: 250px;
    margin: 0px auto;
    border-radius: 50%;
    box-shadow: 0px 0px 20px #ffffff28;
}

/*Parágrafos da sessão sobre*/
#about p {
    line-height: 20px;
    color: white;
    margin-bottom: 10px;

    font-family: "Raleway";
    font-weight: 400;
    font-size: 1rem;
}

/*Container das midias sociais*/
.midias {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

/*Foto das midias sociais*/
.midias img {
    max-width: 50px;
    max-height: 50px;
    background-color: white;
    border: 1px solid white;
    border-radius: 50%;
}

/*Estilos da sessão "sobre" em telas maiores*/
@media screen and (min-width: 987px) {
    /*Muda a direção da foto e texto*/
    .content-sobre {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-evenly;
        align-items: center;
    }

    /*Minha foto*/
    .img-sobre img {
        width: 330px;
        height: 330px;
    }

    /*Texto sobre mim*/
    .txt-sobre {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 50%;
        height: 400px;
    }

    /*Fotos das midias sociais depois de apertar*/
    .midias img:hover {
        box-shadow: 0px 0px 10px 1px white;
        transform: scale(1.1);
        transition: box-shadow 0.3s, transform 0.3s;
    }
}
