/*Sessão projetos*/
#projects {
    display: flex;
    flex-direction: column;
}

/*Cabeçalho da sessão de projetos*/
.projects-header {
    padding: 10px;

    background: linear-gradient(30deg, #60b6bf, #6abfc9);
    color: white;
}

/*Título do cabeçalho da sessão projetos*/
.projects-header h2 {
    font-family: "Raleway";
    font-size: 2rem;
    font-weight: 600;
    line-height: 60px;
}

/*Texto do cabeçalho da sessão projetos*/
.projects-header p {
    font-family: "Raleway";
    letter-spacing: 3px;
    font-weight: 200;
    width: 75%;
}

/*Conteúdo da sessão projetos*/
.project-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

/*Imagem do projeto*/
.project-content img {
    min-height: 207px;
    background-color: black;
}

/*Container dos detalhes do projeto*/
.project-details {
    display: flex;
    flex-direction: column;
    gap: 10px;

    height: 250px;
    padding: 10px;

    background: linear-gradient(to bottom, #212529, #2a2f35);
}

/*Título do projeto*/
.project-details h3 {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 10%;

    color: white;
    font-weight: 400;
}

/*Container das tags com as tecnologias usadas no projeto*/
.container-tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    height: 10%;
}

/*Tags com as tecnologias usadas no projeto*/
.container-tags span {
    padding: 2px 7px;

    background: linear-gradient(30deg, #60b6bf, #9edbe2);
    border-radius: 25px;

    color: white;

    cursor: pointer;
}

/*Texto que fala sobre o projeto*/
.project-details p {
    height: 60%;
    font-size: 0.8rem;
    color: white;
}

/*Container para os links do projeto*/
.container-links {
    display: flex;
    flex-direction: row;
    gap: 10px;

    height: 20%;

    color: white;
    font-size: 16px;
}

/*Links para o github e para o projeto*/
.container-links a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;

    padding: 2px 10px;

    border: 2px solid #60b6bf;
    border-radius: 5px;

    color: white;
    text-decoration: none;
    font-size: 0.9rem;
}

/*Ícone dos links*/
.container-links span {
    color: #60b6bf;
    font-size: 20px;
}

/*Ícone dos links ao passar o mouse em cima*/
.container-links a:hover {
    background-color: #60b6bf;
    transition: background-color 0.3s;
}

/*Cor do ícone dos links ao passar o mouse em cima do container dos links*/
.container-links a:hover span {
    color: white;
}

/*Rodape da sessão de projetos*/
.projects-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;

    background: var(--corBaseEscura);
}

/*Botões no rodapé da sessão de projetos*/
.projects-footer button {
    display: flex;
    justify-content: center;
    align-items: center;

    background: none;
    border: none;

    color: white;

    cursor: pointer;
}

/*Estilos da sessão "projetos" em telas maiores*/
@media screen and (min-width: 987px) {
    #projects {
        flex-direction: row;
    }

    /*Cabeçalho da sessão de projetos*/
    .projects-header {
        width: 40%;
        padding: 10px;

        color: white;
        font-family: "Raleway";
    }

    /*Título do cabeçalho da sessão projetos*/
    .projects-header h2 {
        font-size: 2.5rem;
        font-weight: 600;
        line-height: 60px;
    }

    /*Texto do cabeçalho da sessão projetos*/
    .projects-header p {
        width: 100%;
        font-size: 2rem;
        font-weight: 200;
        letter-spacing: 3px;
    }

    /*Conteúdo da sessão projetos*/
    .project-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%;
        height: 100%;
    }
}
