/*Sessão de certificações e diferenciais*/
#certification {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    background-color: white;
    padding: 50px 0px;
    box-shadow: 0px 0px 5px black;
}

/*Card com as certificações e com os diferenciais*/
.card {
    position: relative;
    width: 90%;
    max-width: 500px;
    height: 200px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px black;
    overflow: hidden;
    
}

/*Título do card*/
.card h3 {
    font-weight: lighter;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 400;
}

/*Conteúdo do card*/
.card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;

    height: 170px;

    padding: 10px 30px;

    overflow: hidden;
}

/*Classe adicionada com javascript para animar o card da esquerda pra direita*/
.animationL {
    animation: animationL 0.5s ease-in-out;
}

/*Animação de movimento da esquerda para a direita*/
@keyframes animationL {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}

/*Classe adicionada com javascript para animar o card da direita pra esquerda*/
.animationR {
    animation: animationR 0.5s ease-in-out;
}

/*Animação de movimento da direita para a esquerda */
@keyframes animationR {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

/*Título do conteúdo exibido no card*/
.card-content h4 {
    color: var(--cor02);
    font-size: 1.2rem;
}

/*Texto do conteúdo exibido no card*/
.card-content p {
    font-size: 0.9rem;
    line-height: 20px;
}

/*Link para baixar o conteúdo do card*/
.card-content a {
    color: var(--cor02);
}

/*Botões para navegar entre os cards*/
.card button {
    background: none;
    border: none;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    cursor: pointer;
}

/*Ícone de setas dos botões de navegação do card*/
.card button span {
    font-size: 2rem;
    font-weight: 200;
}

/*Botão esquerdo*/
.btn-left {
    left: 0;
}

/*Botão direito*/
.btn-right {
    right: 0;
}

/*Estilos da sessão "certificações e diferenciais" em telas maiores*/
@media screen and (min-width: 987px) {
    /*Sessão de certificações e diferenciais*/
    #certification {
        flex-direction: row;
    }

    /*Card com as certificações e com os diferenciais*/
    .card {
        width: 45%;
    }
}