@media (min-width: 768px) {
  #home {
    justify-content: center;
    align-items: center;

    padding: 50px;
  }

  #skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }

  #skills article {
    align-items: center;
    text-align: center;
  }

  #skills article > div {
    flex-direction: column;
  }

  #skills article h2 {
    font-size: 1.2rem;
  }

  #skills article > div div {
    justify-content: center;
  }

  #skills article img {
    width: 30px;
    height: 30px;
  }

  #about {
    padding: 24px;
  }

  #creative {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
