/*Cabeçalho*/
.home-header {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: var(--cor01);
    box-shadow: 0px 0px 7px var(--cor01);
}

/*Botão que abre e fecha o menu*/
.home-header button {
    display: flex;
    align-items: center;
    align-self: flex-end;
    background: none;
    border: none;
    border-radius: 5px;
    padding: 4px;
    cursor: pointer;
}

/*Botão de menu ao ser pressionado*/
.home-header button:active {
    background-color: black;
    color: white;
}

/*Título principal escrito "Rafael da Costa Silva"*/
.intro h1 {
    text-align: center;
    color: var(--cor02);
    font-size: 2rem;
}

/*Parágrafo escrito "Desenvolvedor Front End"*/
.intro p {
    text-align: center;
    color: var(--cor02);
    font-size: 13px;
    letter-spacing: 3px;
}

/*Esconde o título principal para telas maiores*/
.intro-desktop {
    display: none;
}

/*Navegação*/
nav {
    max-height: 0px;
    overflow: hidden;
    padding: 0px 10px;
    transition: max-height 1s;
}

/*Navegação depois de clicar no botão menu*/
nav.open {
    max-height: 473px;
}

/*Lista*/
ul {
    list-style: none;
}

/*Itens da lista*/
ul li {
    display: block;
    width: max-content;
    padding: 5px 10px;
    margin: 5px 0px;
    border-radius: 3px;
}

/*Itens da lista ao passar o mouse por cima*/
ul li:hover {
    background-color: black;
    color: white;
}

/*Estilizando link dentro dos itens*/
ul li a {
    text-decoration: none;
    color: inherit;
}

/*Estilos de cabeçalho em telas maiores*/
@media screen and (min-width: 987px) {
    /*Cabeçalho (Desktop)*/
    .home-header {
        width: 100%;
    }

    /*Esconde o botão que abre e fecha o menu (Desktop)*/
    .home-header button {
        display: none;
    }

    /*Exibe o título principal em telas maiores*/
    .intro-desktop {
        display: block;
    }

    /*Navegação (Desktop)*/
    nav {
        max-height: max-content;
        width: 100%;
    }

    /*Lista (Desktop)*/
    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    /*Itens da lista (Desktop)*/
    ul li {
        color: white;
    }

    /*Itens da lista ao passar o mouse por cima (Desktop)*/
    ul li:hover {
        background-color: var(--cor02);
    }
}
