@media (min-width: 768px) {
  #home {
    justify-content: center;
    align-items: center;

    padding: 50px;
  }

  #skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0px;
  }

  #skills article {
    width: 45%;
    height: 45%;

    margin: auto;
  }

  #skills article h2 {
    font-size: 1.2rem;
  }

  #skills article img {
    width: 30px;
    height: 30px;
  }

  #about {
    padding: 0 70px;
  }
}
